body {
    font-family: Georgia, 'Times New Roman';
    margin: 5;
    padding: 5;
    border: 2px;
    border-radius: 5%;
    background-color:whitesmoke ;
}

header {
    -webkit-text-fill-color: black;
    background-color: lightblue;
    color: #fff;
    padding: 10px ;
    text-align: center;
}

nav ul li {
    font-family: Georgia;
    text-align: center;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;

}

section{

    padding: 20px;
}

footer {
    text-align: center;
    padding:10px;
    background-color: lightblue;
    color: black;
    position: static;
    bottom: 0;
    width: 100%;
}
